:root {
  --ifm-color-primary: rgb(255, 51, 0);
  --ifm-color-primary-dark: rgb(245, 2, 2);
  --ifm-color-primary-darker: rgb(255, 0, 0);
  --ifm-color-primary-light: lime;
  --ifm-color-primary-lighter: lime;
  --ifm-color-primary-darkest: lime;
  --ifm-background-color: black;
  --ifm-code-background-color: black;
  --ifm-link-color: rgb(253, 0, 0);
  --ifm-link-hover-color: white;
}

.button.button--primary {
  background-color: black;
  border: 2px solid lime;
  transition: all 0.3s;
}

.button.button--primary:hover {
  background-color: lime;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 255, 0, 0.5);
}

.hero__title {
  color: white;
}

.hero__subtitle {
  color: white;
}

.hero__title,
.hero__subtitle {
  font-family: 'Chivo Mono', monospace;
}

body {
  font-family: 'Chivo Mono', 'Roboto', sans-serif;
}

